@import "normalize.css";
.loginBoxStyles {
  height:16rem;
  background-color: white;
  width: 15rem;
  max-width: 200rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logininput {
  margin-bottom: 1rem;
  max-width: 7rem;
  border-radius: 5px;
  height: 1rem;
  align-items: center;
  justify-content: center;
}

.loginBtn {
  background-color: #02393b;
  color: #f4edea;
  height: 2rem;
  width: 100%;
  max-width: 7rem;
  border-radius: 4px;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  font-size: small;
  padding: 0;
  margin-top: 1.5rem;
}




.linkStyle {
  padding-left: 2rem;
}
