/* MyComponent.module.css */
.gridItem1 {
    background-color: red;
  }
  
  .gridItem2 {
    background-color: blue;
  }
  
  .gridItem3 {
    background-color: green;
  }
  
  .gridItem4 {
    background-color: yellow;
  }
  
  .gridItem5 {
    background-color: orange;
  }
  
  .gridItem6 {
    background-color: purple;
  }
  
  .gridItem7 {
    background-color: pink;
  }
  
  .gridItem8 {
    background-color: teal;
  }
  