@import 'normalize.css'; 
.balanceAmount {
  font-family: "Raleway", sans-serif;
  color: #F4EDEA;
  
}
.balanceBox {
  display: grid;
  grid-template-columns: 0fr 0fr;
}

.modifyButton {
  background-color: #F4EDEA;
  border: none;
  border-radius: 4px;
  width: 75px;
  line-height: 30px;
  margin: auto;
  color: #06BCC1;
}

.modifyButton:hover {
  background-color:#06BCC1;
  color: #F4EDEA;
  transition: background-color 0.2s;
}


.greenBackgroundBox {
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
  background-color: #12263A;
  width: 12rem;
  height: 5rem;
  justify-content: center;
}
