@import 'normalize.css'; 
.balanceAmount {
  font-family: "Raleway", sans-serif;
  color: #02393B;
  font-size: medium; 
  
}
.balanceBox {
  display: grid;
  grid-template-columns: 0fr 0fr;
  justify-content: center;

  
}


.balanceBoxInput {
  margin-bottom: 25px;
  width: 8rem;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  height: 1.1rem;
  padding: 0 0 0 ;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 0.5rem;
  background-color: #f4edea;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.modifyButton {
  background-color: #12263A;
  border: none;
  border-radius: 4px;
  width: 4rem;
  line-height: 10px;
  margin: auto;
  color: #F4EDEA;
  border: .1rem solid #02393B; 


}

.modifyButton:hover {
   background-color:#02393B;
  color: #F4EDEA;
  transition: background-color 0.2s;
  border: .1rem solid #F4EDEA;

}


.balanceBackgroundBox {
  
  padding:0;
  font-family: "Raleway", sans-serif;
  width: 10rem;
  height: 1rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.balanceBoxContainer{
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
  border:none;
  width: 100%;
  height: 40rem;
  justify-content: center;
  
}

.balanceBoxTwoToneContainer{
  max-width: 20rem;

  width: 50%;
  height: 6rem;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #dde4e5;
  border-radius: 4px;


  
}


.balanceBoxInput {
  margin-bottom: 25px;
  width: 6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 6rem;
  height: 1.1rem;
  margin-right: 10px;
  margin-left: 10px;
  
  background-color: #F4EDEA;
  justify-content: center;
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-bottom: 1rem;
}