@import 'normalize.css';
.balanceAmount {
  font-family: 'Raleway', sans-serif;
  color: #02393b;
  font-size: medium;
}
.balanceBox {
  display: grid;
  grid-template-columns: 0fr 0fr;
  justify-content: center;
  gap: 1rem;
  
}

.balanceBoxContainer {
  background-color: #dde4e5;
  /* max-width: 40rem; */
  height: 6.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* margin-top:3rem; */
  padding-top: 1rem;
  padding-bottom: 0rem;
}


.balanceButton {
  background-color: #02393b;
  color: #f4edea;
  max-height: 1rem;
  max-width: 8rem;
  font-size: medium;
  border-radius: 4px;
  border: 0.1rem solid #02393b;
  display: flex;
  align-items: center;
  margin-top: 0px;
}

.balanceButton:hover {
  background-color: #02393b;
  color: #f4edea;
  border-radius: 4px;
  transition: background-color 0.3s;
  text-decoration: underline;
  border: 0.1rem solid #f4edea;
}

.balanceInput{
    margin-bottom: 0rem;
    max-width: 7rem;
    border-radius: 5px;
    /* height: 1rem; */
    align-items: center;
    justify-content: center;

  
}

