.wrapper {
    font-family: "Raleway", sans-serif;
    width: 100%;
    max-width: 60rem;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
  }
  