@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
@import 'normalize.css';
.header {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  background-color: #c5d8d1;
  /* max-height: 2.5rem;  */
  height:.3rem;
  margin-bottom: 1rem;
  /* width: 100vh; */
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  color: #12263a;
  height: 4rem;
  max-width: 40rem;
}

.loginButton {
  background-color:#f4edea;
  color:  #02393b;
  border: 0.1rem solid #f4edea;
  max-height: 1rem;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 0rem;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: small;
  border-radius: 4px;
}
.navButton {
  background-color: #02393b;
  color: #f4edea;
  border: 0.1rem solid #02393b;
  max-height: 1rem;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 0rem;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: small;
  border-radius: 4px;
}

.navButton:hover {
  background-color: #02393b;
  color: #f4edea;
  border-radius: 4px;
  /* height: 1.1rem; */
  transition: background-color 0.3s;
  text-decoration: underline;

  border: 0.1rem solid #f4edea;
}
.loginButton:hover {
  background-color: #f4edea;
  /* #C5D8D1; */
  color: #02393b;
  border: 0.1rem solid #02393b;

}

.navComponentBox {
  display: flex;
  align-items: center;
  height: 3em;
}
