@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
@import "normalize.css";
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c5d8d1;
  /* border-bottom: .1rem solid #905214; */
  max-height: 2rem;

}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  color: #12263a;
  height: 4rem;
  max-width: 40rem;
}

.loginButton {
  border: 0.1rem solid #f4edea;
  margin-right: 10px;
  margin-left: 10px;

  background-color:#f4edea;
  color:  #02393b;
  max-height: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: small;
  
  border-radius: 4px;
}
.navButton {
  background-color: #02393b;
  /* #C5D8D1; */
  color: #f4edea;
  max-height: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: small;

  border-radius: 4px;
  border: 0.1rem solid #02393b;
  margin-right: 10px;
  margin-left: 10px;
}

.navButton:hover {
  background-color: #02393b;
  color: #f4edea;
  border-radius: 4px;
  /* height: 1.1rem; */
  transition: background-color 0.3s;
  text-decoration: underline;

  border: 0.1rem solid #f4edea;
}
.loginButton:hover {
  background-color: #f4edea;
  /* #C5D8D1; */
  color: #02393b;

  
  border: 0.1rem solid #02393b;

}

.navComponentBox {
  display: flex;
  align-items: center;
  height: 3em;
}
