.balanceAmount {
    font-family: 'Raleway', sans-serif;
    color: white;
  }

  .balanceBox {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(48, 90, 34);
    width: 15rem; 
    height: 5rem;  
    margin-top: 2rem;
  }
