@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');



.header {
    display: flex;
    align-items: center;
    padding: .2rem 2rem .2rem;
    justify-content: space-between;
    background-color: rgb(48, 90, 34);
    text-align: center;
    position: sticky; top: 0;
  }
  
  .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    color: white;
  }
  
  .navButton:hover {
    background-color: #c39955;
  }

.navButton {
  display: inline-flex;
    align-items: right;
    background-color: #fdfffd;
    color: rgb(41, 76, 28);
    box-shadow: none;
    border: none;

    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #2a2630;
    border: none;
    border-radius: none;
    font-weight: bold;
}

.navButton:hover {
  background-color: rgb(158, 193, 156);
  color: white;
  transition: background-color 0.3s;
  text-decoration: underline;
}
.navComponentBox {
  display: flex; 
  justify-content: center;
  align-items: center; /* Center items vertically */
  gap: 10px; /* Add some spacing between elements */
  border-radius: 10px;
  text-align: center;
  margin: 0px;
  height: 2.5rem;
}
.menuIcon{
  font-weight: 700;
}

ul {
  list-style: none;
  list-style-type: none;
  
  padding-inline-start: 0;
  margin-bottom: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 39rem; 
  height: 39rem; 
  object-fit: contain;
  border: 3px solid #000000;
}