@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');



.header {
    display: flex;
    align-items: center;
    padding: .2rem 2rem .2rem;
    justify-content: space-between;
    background-color: rgb(48, 90, 34);
    text-align: center;
    position: sticky; top: 0;
  
    
  }
  
  .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    color: white;
  }
/*   
  .button {
    display: inline-flex;
    align-items: center;
    gap: 2rem;
    padding: 1.75rem 3.5rem;
    color: #2a2630;
    border: none;
    border-radius: none;

    cursor: pointer;
    font-weight: bold;

   
  } */
  
  .viewProfile:hover {
    background-color: #c39955;
  }
.viewProfile {
  display: inline-flex;
    align-items: right;
    /* gap: 0.5rem;
   */
    background-color: #fdfffd;
    color: rgb(41, 76, 28);
    box-shadow: none;
    border: none;

    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #2a2630;
    border: none;
    border-radius: none;
    font-weight: bold;
}

.viewProfile:hover {
  background-color: rgb(158, 193, 156);
  color: white;
  transition: background-color 0.3s;
  text-decoration: underline;
}
.navComponentBox{
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}
.menuIcon{
  font-weight: 700;
}
