.header {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    background-color: rgb(48, 90, 34);
    text-align: center;
    position: sticky; top: 0;
    
  }
  
  .logo {
    font-family:'Calibri', sans-serif;
    font-size: 3rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    color: white;
  }
  
  .button {
    display: inline-flex;
    align-items: center;
    gap: 2rem;
    padding: 1.75rem 3.5rem;
    background-color: #d1a977;
    color: #2a2630;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
  }
  
  .viewProfile:hover {
    background-color: #c39955;
  }
.viewProfile {
  display: inline-flex;
    align-items: right;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #d1a977;
    color: #000000;
    border: 1px solid #000000;
    /* border-radius: 4px; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 30px;
padding-right: 30px;
background-color: #fdfffd;

}
