.chat {
    background-color: rgb(0, 0, 0);
    margin: auto;
    width: 35rem; 
    height: 35rem;  
    padding: 40px;
    /* box-shadow: 4px 3px 20px #353535; */

}

.name {
   
    margin: none;
}

.message {
 margin: none;
}