.MessageList {
    display: grid;
    gap: 10rem;
    list-style: none;
    list-style-type: none;

}

ul {
    list-style: none;
    list-style-type: none;
    
    padding-inline-start: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 39rem; 
    height: 39rem; 
    object-fit: contain;
    border: 3px solid #000000;
}