.backdrop {
    border: none;
    border-radius: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.5;
    background: rgb(7, 70, 16);
    backdrop-filter: blur(8px);
}

.modal {
    border: none;
    border-radius: 5px;
    padding: 0;
    overflow: hidden;
    z-index: 1;
   
}