@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
@import 'normalize.css'; 

.pageFooter {
 
    background-color: #12263A;
    padding: 0rem;
    text-align: center;
    position: fixed; 
    bottom: 0;
    width: 100%;
    border-top: .1rem solid #905214;
    height:15vh;
  }
.footerContainer {
  display: flex;
  align-items: center;
}
.footerList {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linkStyle {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: larger;
  font-family: "Raleway", sans-serif;
  padding: 0.5rem;
  /* background-color: #C5D8D1; */
  color: #C5D8D1;
  font-weight: 500;
}
.linkStyle:hover {
  background-color:#C5D8D1;
  color: #12263A;
   text-decoration: underline;
  transition: color 0.3s;
}
