@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

.pageFooter{
    color: white;
    background-color: rgb(41, 76, 28);
    margin-bottom: 0;
    height: auto;
    display: flex;
    padding: 1rem;
    font-size: small;
    justify-content: center;
    text-align: center;
}
.footerContainer {
    display: flex; /* Use flex display to align divs */
    align-items: center; /* Align items vertically */
}
p{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: small;
    font-family: 'Raleway', sans-serif;
    padding: .5rem;
    color: #a8c79c;
    font-weight: 500;
}
p:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    transition: color .3s;
}
.footerList {
    flex: 1; /* Distribute available space equally */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    padding: 1rem;
}

