@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
@import 'normalize.css'; 

.pageFooter {
 
    background-color: #12263A;
    padding: 0rem;
    text-align: right;
    position: fixed; 
    bottom: 0;
    width: 100%;
    border-top: .1rem solid #905214;
    height:2rem;
    
  }
.footerContainer {
  display: flex;
}
.footerList {
  flex: 1;
  
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  
}
.linkStyle {
 
  font-size: small;
  font-family: 'Raleway', sans-serif;
  padding: 0.5rem;
  padding-top: 0px;
  padding-bottom: 0px;
  /* background-color: #C5D8D1; */
  color: #C5D8D1;
  font-weight: 400;
}
.linkStyle:hover {
  background-color:#C5D8D1;
  color: #12263A;
  transition: color 0.3s;
}
