.date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 8rem;
    height: 1rem;
    border: 1px solid #ececec;
    background-color: #02393b;
    color: white;
    border-radius: 4px;
    align-items: center;
    gap: .1rem;
  }
  
  .month {
    font-size: 0.75rem;
  }
  
  .year {
    font-size: 0.75rem;
  }
  
  .day {
    font-size: 1rem;
    font-weight: bold;
  }