.expenseItemBackground{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    background-color: #dde4e5;
    /* width: 40rem; */
    border-radius: 4px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
  }